<div th:fragment="header"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary" style="margin-left: -100px">Главная</a></li>
                <li><a href="/add" class="nav-link px-2 text-secondary" style="margin-left: -30px">Добавить статью</a></li>
            </ul>
            <ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/admin" class="nav-link px-2 text-secondary" style="margin-left: -120px">Админ панель</a></li>
            </ul>
            <div sec:authorize="!isAuthenticated()">
                <form method="post" action="/search" style="margin-right: 0px" class="d-flex justify-content-center" role="search">
                    <input th:utext="${search}" style="width: 300px" type="search" name="search" class="form-control form-control" placeholder="Введите имя автора или заголовок" aria-label="Search">
                    <button style="margin-right: 0px" type="submit" class="btn btn-primary">Найти</button>
                </form>
            </div>
            <div style="margin-left: 10px" sec:authorize="!isAuthenticated()">
                <a type="button" class="btn btn-outline-primary me-2" href="/login">Login</a>
                <a type="button" class="btn btn-primary" href="/register">Sign-up</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form method="post" action="/search" style="margin-right: 0px" class="d-flex justify-content-center" role="search">
                    <input style="width: 300px" type="search" name="search" class="form-control form-control" placeholder="Введите имя автора или заголовок" aria-label="Search">
                    <button style="margin-right: 0px" type="submit" class="btn btn-primary">Найти</button>
                </form>
            </div>
            <div style="margin-left: 10px" sec:authorize="isAuthenticated()">
                <label>Здравствуйте, <span sec:authentication="name">Username</span></label>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}"
                      method="POST">
                    <button style="margin-left: 10px" type="submit" class="btn btn-primary me-md-2">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>